body {
    background: linear-gradient(to right, rgba(95, 0, 190), black, rgba(95, 0, 190));
    margin: 0;
}

.header {
    background: linear-gradient(to right, purple, rgb(76, 1, 77));
    width: 100%;
}

.header h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 25px;
    font-size: 50px;
}

.header p {
    color: white;
    text-align: center;
    font-size: 25px;
}

.menu{
    padding: 0;
    background: rgb(93, 51, 101);
    width: 90%;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}

.background-container{
    background-color: white;
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 50px 0;
    border-radius: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 30px;
    margin-top: 40px;
}
.games{
    background-color: #2b2b2b;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.games h3{
    margin: 10px 0;
    color: white;
}

.games p{
    font-size: 14px;
    line-height: 1.5;
    color: #d3d3d3;
}
.games img{
    width: 120px;
    border-radius: 15px;
    margin-bottom: 10px;
}